# Java
*.class
*.jar
*.war
*.ear
*.log
target/
!.mvn/wrapper/maven-wrapper.jar

# Maven
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# AWS SAM
.aws-sam/
samconfig.toml

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/terraform.tfstate.backup
terraform/*.tfvars
!infra/terraform.tfvars.example
infra/.terraform.tfstate.lock.info
infra/crash.log
infra/tfplan

# Logs
*.log
logs/

# Environment variables
.env
.env.local

# Build artifacts
dist/
build/
out/

